{% extends 'base/index.html' %}

{% block css %}
<link rel="stylesheet" href="../../static/about/css/style.css">
{% endblock css %}

{% block title %}
<title>Osteria | About</title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="card">
        <section class="about">
            <h1>About us</h1>
            <section class="desc">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam optio facere fuga obcaecati veniam quidem ratione sint ipsa laboriosam odit magnam ducimus aliquam explicabo fugit, molestias minus, repudiandae nostrum illum.
                    Officia, vero beatae eos esse dicta blanditiis, omnis animi nostrum nobis, voluptas dolore facere sint enim dolorem similique repellat soluta impedit quia? Quia, vel veritatis necessitatibus eum corrupti facilis sed.
                    Repellendus rem expedita, et quia quasi maiores ipsa qui, optio quis laboriosam amet aspernatur eaque! Quibusdam iure sit praesentium nemo possimus, pariatur tempore quae voluptates sapiente hic odit. Ipsum, placeat.
                    Sunt minus, dignissimos enim quis placeat alias assumenda dolore odit magni nulla qui unde ratione repellendus, reiciendis natus aperiam ea voluptatem consequatur quibusdam! Soluta ipsa, consectetur eos totam dolorum maxime!
                    Harum cumque dolorum quae? Perferendis delectus vero possimus non dolor nisi aliquid odit explicabo sint quae commodi laudantium, placeat magni, rerum ad amet deleniti doloremque cupiditate debitis nobis molestiae beatae.
                </p>
            </section>
        </section>
        <section class="info">
            <h3>More info</h3>
            <p>Pending...</p>
        </section>
        <section class="coll">
            <h3>Collaborators</h3>
            <ul>
                <li>Paolo Rios</li>
                <li>Yerko Droguett</li>
                <li>Cristian Fuentes</li>
                <li>Jhonatan Lucero</li>
                <li>Luis Gamboa</li>
            </ul>
        </section>
    </div>
</div>
{% endblock content %}