{% extends 'base/index.html' %}

{% block css %}
<link rel="stylesheet" href="../../static/map/css/style.css">
{% endblock css %}

{% block title %}
<title>Osteria | Map</title>
{% endblock title %}

{% block initscript %}
<script src="https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js"></script>
{% endblock initscript %}

{% block content %}
<div id="map">
    <script>
        mapboxgl.accessToken = '{{mapbox_access_token}}';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-65.5, -26.5],
            zoom: 2.6
        });
        var marker = new mapboxgl.Marker()
        .setLngLat([-225.5, -25.1])
        .addTo(map);
    </script>
</div>
{% endblock content %}