main{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: url('/media/images/background/background.jpg') no-repeat fixed;
    background-position: center center;
    background-size: cover; */
    width: 100%;
    height: 80vh;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
}

.card{
    display: flex;
    height: 100%;
    width: 60%;
    align-items: center;
    justify-content: center;
}

.card-header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.bx.bxs-user{
    align-self: center;
    font-size: 250px !important;
}

.card-body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.card-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
}

.card-footer a{
    text-decoration: none;
}

form{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    width: 70%;
}

.form-control{
    margin: 3px;
    padding: 0 !important;
}

.form-control input{
    width: 100%;
    height: 100%;
}

form .btn.btn-primary{
    margin: 3px;
}

@media (max-width: 1000px){
    
    .card{
        width: 80%;
    }
}

@media (max-width: 600px){

    main{
        height: 100vh;
    }
    
    .card{
        width: 100%;
    }

    .bx.bxs-user{
        align-self: center;
        font-size: 200px !important;
    }
}


@media (max-width: 400px){

    .bx.bxs-user{
        align-self: center;
        font-size: 150px !important;
    }
}
