main{
    display: flex;
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    padding: 20px;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.desc{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coll{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
}


@media (max-width: 800px){
    
    main{
        height: auto;
    }
}