{% extends 'base/index.html' %}

{% block css %}
<link rel="stylesheet" href="../../static/product/add/css/style.css">
{% endblock css %}

{% block title %}
<title>Product | Add</title>
{% endblock title %}

{% block content %}
<div class="row">
    <section class="card col-sm-12 col-md-6 mx-auto mt-5">
        <article class="card-header" style="display: flex; justify-content: center;">
        </article>
        <form action="" method = "POST" enctype="multipart/form-data">
            {% csrf_token %}
            <article class="card-body">
                {{ form.as_p }}
            </article>
            <article class="card-footer" style="display: flex; justify-content: center;">
                <button class="btn btn-success my-2 my-sm-0" type="submit" style="width: 50%">Add</button>
            </article>
        </form>
        <a href="/product/">
            <button class="btn btn-danger my-2 my-sm-0" type="submit" style="width: 50%">Back</button>
        </a>
    </section>
</div>
{% endblock content %}