main{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(120deg, #ffe98578 0%, #ffe98578 100%), url('/media/images/background/background.jpg') no-repeat fixed;
    background-position: center;
    background-size: cover; */
    height: 130vh;
    width: 100%;    
}

.carousel-section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.recommendation-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.recommendation-section .d-flex{
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.card{
    width: 18rem;
    height: 315px;
    margin-bottom: 15px;
}

.card img{
    height: 70%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel.inner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel.slide{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel.item img{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1400px){

    main{
        height: 140vh;
    }

    .carousel.slide{
        padding-top: 10px;
    }
}

@media (max-width: 1000px){

    main{
        align-items: flex-start !important;
        height: 140vh;
    }

    .carousel.slide{
        padding-top: 20px;
    }
}

@media (max-width: 770px){
    main{
        height: auto;
    }
}

@media (max-width: 330px){
    .card{
        width: 10rem;
    }
}
