*{
    border: 0px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #7bb66160;
}

header a{
    text-decoration: none;
}

.bx.bxs-baguette.bx-md{
    padding-left: 10px;
}

.col-md-3.text-end{
    padding-right: 10px;
}