*{
    border: 0px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #7bb66160;
    justify-content: center;
}

header a{
    text-decoration: none;
}

.bx.bxs-grid-alt.bx-md{
    padding-left: 10px;
}

.col-md-3.text-end{
    padding-right: 10px;
}

@media (max-width: 770px){

    header{
        justify-content: space-evenly;
    }

    .collapse:not(.show){
        display: none;
    }

    .navbar-toggler::after .collaspe.show{
        display: block !important;
    }

   .bx.bxs-grid-alt.bx-md{
        padding-left: 0px;
   }

}
